@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background:radial-gradient(rgba(0,0,0,0.8),rgba(0,0,0,1)), linear-gradient(to bottom right,aqua,red);
    overflow:hidden
}

.header .webgl
{
    outline: none;
    position: absolute;
    top:0%;
    right:-25%;
    opacity: 1;
    animation-name: fade;
    animation-duration :2s;
}
@keyframes fade{
    from {
        opacity: 0;
        top:100%;
        right:-100%;
    }
    to{
        opacity: 1;
        position: normal;
    }
}
.header .text{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:45%;
    left:30%;
    transform: translate(-50%,-50%);
    animation-name: fade;
    animation-duration :2s;
}
.header h1{
    font-size: 10vw;
    color: #fd3333;
}
.header h1 span{
    color:aqua
}
.header h2{
    color: aqua;
    margin-bottom: 20px;
}
.header h2 span{
    color: #fd3333;
    font-size: 2rem;
}
.header h3{
    font-size: 1.2rem;
    color:aqua
}
.header h3 span{
    color: #fd3333;
}
.header .create{
    color: aqua;
    border: 2px solid aqua;
    margin-top: 30px;
    padding:15px 25px;
    border-radius:10px;
    text-decoration: none;
    transition: .5s;
}
.header .create:hover{
    border-color: #fd3333;
    padding:15px 30px;
}
.header .links{
    position: absolute;
    top:7.5%;
    right:0%;
    transform: translate(-5%,-50%);
    animation-name: fade;
    animation-duration :2s;
}
.header .links a{
    margin:30px;
    border: 2px solid aqua;
    padding:10px 20px;
    color: aqua;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
}
.header .links .sign_up{
    border-color: #fd3333;
    color: #fd3333;
}
.header .links .sign_up:hover{
    background: #fd3333;
    color: #000;
}
.header .links a:hover{
    color:#000;
    background:aqua;
    margin-bottom: 5px;
}
.header .new_orb{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
}
@media (max-width:1200px){

.header .webgl
{
    outline: none;
    position: absolute;
    top:0%;
    right:0%;
}
.header .text{
    left:50%;
    top: 50%;
}
.header h1{
    font-size: 3rem;
}
.header h2 span{
    font-size: 1.1rem;
}
.header h2{
    font-size: 1rem;
}
.header h3{
    font-size: 1rem;
}
}